[Unit]
Description=LiaScript Editor Document Server
After=network.target

[Service]
Environment=STORAGE_DIR=%h/.local/share/courses
Environment=LIASCRIPT_EDITOR_DIST=/usr/lib/liascript-editor/dist
ExecStart=/usr/bin/node /usr/lib/liascript-editor/src/index.js
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
