#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	curl -s 'https://api.github.com/repos/fsfw-dresden/LiaScript-LiveEditor/releases/latest' | jq -r '.assets[0].browser_download_url' | xargs curl -L -o liveeditor.tar.bz2
	mkdir -p liascript-editor
	tar -xjvf liveeditor.tar.bz2 -C liascript-editor
	# Install dependencies using npx yarn
	npx yarn install --production=true

